# Do not lint internal build process files
.cache/*
public/*
node_modules/*

# Do not lint templating files
.blueprints/*

# Do not apply TypeScript linting to JavaScript config files
gatsby-config.js
gatsby-node.js
gatsby-ssr.js
gatsby-browser.js
